@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

#font1{
    font-family: 'Nanum+Brush+Script'
}

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wavve';
    src:url('../static/font/WavvePADO-Regular.ttf') format('truetype');

}